<div class="p-3">
<table  id="tblData"  class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Phone Number</th>
            <th>Email</th>
            <th>Payment Type</th>
            <th>Status</th>
            <th>Total</th>
		</tr>
	</thead>
</table>
</div>

@section Scripts{
    <script src="~/js/order.js"></script>
}